<%- include('../partials/header.ejs') %>
<%- include('../partials/nav.ejs') %>

<p><strong>Name:</strong> <%= home.houseName %></p>
<p><strong>Price:</strong> <%= home.price %></p>
<p><strong>Location:</strong> <%= home.location %></p>
<p><strong>Image:</strong> <img src="<%= home.url %>" alt="Home image"></p>

</body>
</html>